<mat-card class="card">
  <mat-card-header [ngClass]="parseStatusClass(data.status)">
    <mat-card-title>{{data.name | uppercase}}</mat-card-title>
    <span class="spacer"></span>
    <mat-icon class="icon">{{parseIconClass(data.status)}}</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let control of data.controls">
      <table>
        <thead>
        <tr>
          <th>{{control.name | uppercase}}</th>
          <th>Dev</th>
          <th>Dev Out Tot</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>X</td>
          <td>{{control.x.dev}}</td>
          <td>{{control.x.devOut}}</td>
          <td>
            <mat-icon class="icon">{{parseIconClass(control.x.status)}}</mat-icon>
          </td>
        </tr>
        <tr>
          <td>Y</td>
          <td>{{control.y.dev}}</td>
          <td>{{control.y.devOut}}</td>
          <td>
            <mat-icon class="icon">{{parseIconClass(control.y.status)}}</mat-icon>
          </td>
        </tr>
        <tr>
          <td>Z</td>
          <td>{{control.z.dev}}</td>
          <td>{{control.z.devOut}}</td>
          <td>
            <mat-icon class="icon">{{parseIconClass(control.z.status)}}</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <i class="material-icons">more_horiz</i>
  </mat-card-actions>
</mat-card>
