.warning {
  background-color: #FDD835 !important;
}

.error {
  background-color: #F44336 !important;
}

.success {
  background-color: #43A047 !important;
}

.mat-card-header {
  padding: 5px !important;
  color: #FFFFFF;
}

.mat-card {
  padding: 0 !important;
  margin-bottom: 8px;
  display: table-cell !important;
}

.mat-card-title {
  font-size: 18px !important;
  margin-bottom: 0 !important;
}

.mat-card-header {
  padding: 8px !important;
}

.mat-card-actions {
  padding: 5px !important;
  margin: 0 !important;
  text-align: center;
}

.mat-card-content {
  padding: 5px !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  width: 25%;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
